@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@200&family=Poppins:ital,wght@0,400;1,200&display=swap');
        * {
            font-family: Poppins, sans-serif;
            color: black;
            margin: 0;
        }
        h1 {
            font-family: 'Agbalumo', cursive;
            font-size: 80px;
            text-align: center;
            position: relative;
            top: 100px;
        }
        ul {
            list-style: none;
            padding: 10;
            margin: 0;
            position: relative;
            top: 0px;
            left: 700px;
            font-size: 20px;
        }
        li {
            display: inline-block;
            padding: 15px;
            margin: auto;
        }
        a:active{
            text-decoration: none;
            color: black;
        }
        a:hover {
            text-decoration: none;
            color: red;
        }
        a:link {
            text-decoration: none;
            color: black;
        }
        a:visited {
            text-decoration: none;
            color: black;
        }
        .aboutme {
            position: relative;
            top: -500px;
            left: 400px;
            font-size: 17px;
        }
        .imgbadminton {
            position: relative;
            top: 120px;
            left: 100px;
        }
        .imgshanewarne {
            position: relative;
            top: 120px;
            left: 100px;
        }
        .imgfortnite {
            position: relative;
            top: 120px;
            left: 100px;
        }
        #unit1 {
            font-size: 15px;
            position: relative;
            top: 2000px;
            left: 400px;
            z-index: inherit;
        }
        .Blueprint {
            position: relative;
            top: 200px;
            left: 400px;
            font-size: 15px;
        }
        .RomeoJulietAdaptation {
            position: relative;
            top: 200px;
            left: 400px;
            font-size: 15px;
        }
        .CompareContrastRosaline {
            position: relative;
            top: 200px;
            left: 400px;
            font-size: 15px;
        }
        .Reflectionongrades {
            position: relative;
            top: 200px;
            left: 400px;
            font-size: 15px;
        }